/* main_vis */
.main_vis {
  height: 100vh;
}
.main_vis .main_slide {
  height: 100%;
}
.main_vis .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.main_vis .txt_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}
.main_vis .txt_wrap h2 {
  font-size: 80px;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  transform: translateY(80px);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
.main_vis .txt_wrap h2 span {
  font-weight: 600;
}
.main_vis .txt_wrap p {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.8;
  margin: 30px 0 50px;
  transform: translateY(80px);
  opacity: 0;
  transition: opacity 1.5s, transform 1.5s;
}
.main_vis .txt_wrap .more {
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  position: relative;
  transform: translateY(80px);
  opacity: 0;
  transition: opacity 1.8s, transform 1.8s;
}
.main_vis .txt_wrap .more::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transition: width 0.5s, left 0.5s;
}
.main_vis .txt_wrap .more:hover::after {
  width: 100%;
  left: 0;
}
.main_vis .swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}
.main_vis .swiper-slide-active h2,
.main_vis .swiper-slide-active p,
.main_vis .swiper-slide-active .more {
  transform: translateY(0);
  opacity: 1;
}
.main_vis .navi {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  color: #fff;
  text-align: center;
}
.main_vis .navi .fraction {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
}
.main_vis .navi .btn .swiper-pagination-current {
  font-weight: 600;
}
.main_vis .navi .btn {
  display: inline-block;
  width: 25px;
  height: 37px;
  box-shadow: 0px 1px 12px rgb(154 154 154);
}
.main_vis .navi .prev {
  background: url(../img/navi-left.png) no-repeat;
  background-size: 100%;
}
.main_vis .navi .next {
  background: url(../img/navi-right.png) no-repeat;
  background-size: 100%;
}

/* brand_wrap */
.brand_wrap {
  padding: 100px 0;
}
.brand_wrap .inner {
  position: relative;
}
.brand_wrap .inner::after {
  content: 'ABOUT PLACE';
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 180px;
  color: #f3f3f3;
  z-index: -1;
}
.brand_wrap h2 {
  font-size: 60px;
  font-weight: 600;
}
.brand_wrap h2 span {
  font-weight: normal;
}
.brand_wrap .brand_nav {
  padding: 80px 0 50px;
}
.brand_wrap .swiper-pagination-bullet {
  width: auto;
  height: auto;
  background: none;
  opacity: 0.3;
  font-weight: 500;
  font-size: 18px;
}
.brand_wrap .swiper-pagination-bullet::after {
  content: '';
  width: 3px;
  height: 3px;
  background: #000;
  display: inline-block;
  vertical-align: 3px;
  border-radius: 50%;
  margin: 0 19px;
}
.brand_wrap .swiper-pagination-bullet:last-child::after {
  display: none;
}
.brand_wrap .swiper-pagination-bullet-active {
  opacity: 1;
}
.brand_wrap .brand_slide_wrap {
  position: relative;
}
.brand_wrap .brand_slide_wrap .btn {
  position: absolute;
  width: 25px;
  height: 37px;
  top: 50%;
  transform: translateY(-50%);
}
.brand_wrap .brand_slide_wrap .prev {
  background: url(../img/navi-left-black.png) no-repeat;
  background-size: 100%;
  left: -80px;
}
.brand_wrap .brand_slide_wrap .next {
  background: url(../img/navi-right-black.png) no-repeat;
  background-size: 100%;
  right: -80px;
}
.brand_wrap .brand_slide {
  height: 500px;
}
.brand_wrap .swiper-slide::after {
  content: '';
  clear: both;
  display: block;
}
.brand_wrap .txt_wrap {
  float: right;
  width: 50%;
  height: 100%;
  display: table;
  padding: 0 20px;
}
.brand_wrap .txt_wrap .wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.brand_wrap .txt_wrap .wrap em {
  color: #858585;
  display: block;
  font-size: 14px;
  font-weight: 500;
}
.brand_wrap .txt_wrap .wrap strong {
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0 20px;
}
.brand_wrap .txt_wrap .wrap p {
  font-size: 18px;
  line-height: 28px;
  color: #858585;
}
.brand_wrap .txt_wrap .wrap a {
  background: #000;
  padding: 15px 20px;
  margin-top: 15px;
  color: #fff;
  display: inline-block;
}
.brand_wrap .img_wrap {
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.brand_wrap .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 10s;
}
.brand_wrap .swiper-slide-active img {
  transform: scale(1.2);
}
.brand_wrap .even .img_wrap {
  float: right;
}
.brand_wrap .even .txt_wrap {
  float: left;
}

/* special_wrap */
.special_wrap {
  padding: 100px 0;
}
.special_wrap .inner {
  position: relative;
}
.special_wrap .inner::after {
  content: 'Special Offser';
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 120px;
  color: #f3f3f3;
  z-index: -1;
}
.special_wrap .tit_wrap {
  text-align: center;
  padding-bottom: 80px;
}
.special_wrap .tit_wrap h2 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
}
.special_wrap .tit_wrap h2 span {
  font-weight: normal;
}
.special_wrap .tit_wrap p {
  font-size: 18px;
  line-height: 28px;
  color: #858585;
}
.special_wrap .special_list::after {
  content: '';
  clear: both;
  display: block;
}
.special_wrap .special_list li {
  width: 25%;
  float: left;
  height: 450px;
  position: relative;
  overflow: hidden;
}
.special_wrap .special_list li > a {
  display: block;
  height: 100%;
}
.special_wrap .special_list li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.special_wrap .special_list li a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  transition: 0.5s;
}
.special_wrap .txt_wrap {
  position: absolute;
  bottom: -80px;
  left: 0;
  color: #fff;
  padding: 20px;
  z-index: 1;
  transition: 0.5s;
}
.special_wrap .txt_wrap em {
  font-size: 14px;
  opacity: 0;
  transition: 0.5s;
}
.special_wrap .txt_wrap strong {
  font-size: 28px;
  display: block;
  font-weight: bold;
  margin: 10px 0 30px;
}
.special_wrap .txt_wrap .info {
  opacity: 0;
  transition: 0.5s;
}
.special_wrap .txt_wrap .info > span {
  display: block;
  margin: 5px 0;
  font-weight: 300;
}
.special_wrap .txt_wrap .info .tit {
  font-weight: 500;
  display: inline-block;
  width: 80px;
}
.special_wrap .special_list li:hover::after {
  background: rgba(0,0,0,0.2);
}
.special_wrap .special_list li:hover img {
  transform: scale(1.1);
}
.special_wrap .special_list li:hover .txt_wrap {
  bottom: 0;
}
.special_wrap .special_list li:hover .info,
.special_wrap .special_list li:hover em {
  opacity: 1;
}

/* intro_wrap */
.intro_wrap {
  height: 500px;
  position: relative;
}
.intro_wrap::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}
.intro_wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro_wrap .txt_wrap {
  z-index: 1;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.intro_wrap .txt_wrap h2 {
  font-size: 40px;
  font-weight: bold;
}
.intro_wrap .txt_wrap h2 span {
  display: block;
}
.intro_wrap .txt_wrap h2::after {
  content: 'member';
  display: inline-block;
  font-size: 18px;
  color: rgba(255,255,255,0.6);
  font-weight: normal;
  border-top: 2px solid #fff;
  padding-top: 10px;
}
.intro_wrap .txt_wrap ul {
  width: 830px;
  padding: 60px 0 80px;
}
.intro_wrap .txt_wrap ul::after {
  content: '';
  display: block;
  clear: both;
}
.intro_wrap .txt_wrap ul li {
  text-align: left;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  float: left;
  padding-left: 50px;
  position: relative;
}
.intro_wrap .txt_wrap ul li:last-child {
  margin-right: 0;
}
.intro_wrap .txt_wrap ul li i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.intro_wrap .txt_wrap ul li dt {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}
.intro_wrap .txt_wrap ul li dd {
  font-weight: 300;
  opacity: 0.8;
}
.intro_wrap .txt_wrap .desc {
  font-size: 12px;
  opacity: 0.8;
  line-height: 1.75;
}

/* promotion */
.promotion {
  padding: 100px 0;
}
.promotion h2 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
}
.promotion .inner {
  position: relative;
}
.promotion .inner::after {
  content: 'Promotion';
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 30px;
  color: #f3f3f3;
  z-index: -1;
}
.promotion .promotion_list::after {
  content: '';
  clear: both;
  display: block;
}
.promotion .promotion_list li {
  float: left;
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
}
.promotion .promotion_list li:last-child {
  margin-right: 0;
}
.promotion .promotion_list .img_wrap {
  overflow: hidden;
  height: 300px;
}
.promotion .promotion_list .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promotion .promotion_list .txt_wrap {
  padding: 15px;
}
.promotion .promotion_list .txt_wrap span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #858585;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}
.promotion .promotion_list .txt_wrap em {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #858585;
}
.promotion .promotion_list .txt_wrap strong {
  display: block;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.promotion .promotion_list .txt_wrap p {
  font-size: 18px;
  line-height: 28px;
  height: 84px;
  overflow: hidden;
  color: #858585;
  margin-top: 15px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.promotion .inner .more {
  display: inline-block;
  position: absolute;
  bottom: -15px;
  right: 15px;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}
.promotion .inner .more::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transition: width 0.5s, left 0.5s;
}
.promotion .inner .more:hover::after {
  width: 100%;
  left: 0;
}

/* subs_wrap */
.subs_wrap {
  background: #f3f3f3;
  text-align: center;
  padding: 100px 0;
}
.subs_wrap .tit_wrap {
  padding-bottom: 50px;
}
.subs_wrap .tit_wrap h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}
.subs_wrap .tit_wrap p {
  font-size: 18px;
  color: #858585;
}
.subs_wrap form {
  width: 500px;
  margin:  auto;
}
.subs_wrap form .txt_area {
  width: 400px;
  padding: 14px;
  height: 48px;
  border: 0;
  outline: none;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  float: left;
  box-sizing: border-box;
}
.subs_wrap form button {
  width: 100px;
  height: 48px;
  background: #000;
  color: #fff;
  border: 0;
  float: left;
  cursor: pointer;
}

/* board_wrap */
.board_wrap {
  padding: 100px 0;
}
.board_wrap h2 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}
.board_wrap ul {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.board_wrap ul::after {
  content: '';
  clear: both;
  display: block;
}
.board_wrap ul li {
  border-bottom: 1px solid #ddd;
}
.board_wrap ul li:last-child {
  border-bottom: 0;
}
.board_wrap ul li a {
  display: block;
  padding: 35px 0 35px 80px;
  position: relative;
}
.board_wrap ul li a .cate {
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 56px;
  transform: rotate(90deg);
  color: #858585;
}
.board_wrap ul li a strong {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board_wrap ul li a p {
  font-size: 17px;
  line-height: 24px;
  color: #858585;
  height: 48px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.board_wrap ul li a .date {
  color: #ddd;
  margin-top: 20px;
  display: block;
}

/* top_btn */
.top_btn {
  opacity: 0;
  background: url(../img/top_btn.png) no-repeat;
  background-size: 100%;
  z-index: 3;
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 60px;
  height: 60px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  transition: 0.5s;
}
.top_btn.on {
  opacity: 1;
  bottom: 50px;
}